%h1 Alex Chin's Code Test

%p 
  Hello,

%p
  Welcome to my code test for 
  = link_to "Red Badger", "http://red-badger.com/"
  which I have built in Rails 4. The code can be found #{link_to "here", "https://github.com/alexpchin/code-test-red-badger"}. (I have written a few tests). Please contact
  me #{link_to "here", "mailto:alex@alexchin.co.uk"} if you want to ask any questions.

%p
  Please start by creating a #{link_to "new world", new_world_path}.
  
%p  
  Thanks,
  Alex

%p
  %a{:href => "https://codeclimate.com/github/alexpchin/code-test-red-badger"}
    %img{:src => "https://codeclimate.com/github/alexpchin/code-test-red-badger/badges/gpa.svg"}/
  %a{:href => "https://codeclimate.com/github/alexpchin/code-test-red-badger"}
    %img{:src => "https://codeclimate.com/github/alexpchin/code-test-red-badger/badges/coverage.svg"}/