%h1 Alex's Code Test

%p 
  Hello,

%p
  Welcome to my code test for 
  = link_to "Red Badger", "http://red-badger.com/"
  I have built this code test in Rails 4. The code can be found 
  = link_to "here", "https://github.com/alexpchin/code-test-red-badger"
  I have written some tests.

%p  
  Thanks,
  Alex
