html, body {
  background: #f0b406;
  height: 100%;
  min-height: 100%;
  width: 100%;
}

ul {
  margin: 0;
}

header, main, footer {
  max-width: 300px;
  margin: 0 auto;
}

a {
  color: #FFF;
}

a:hover {
  color: #FFF;
  text-decoration: underline;
}

header, footer {
  line-height: 60px;

  nav ul li {
    line-height: 60px;
    display: inline;
    padding: 0 5px;

    &:first-child {
      padding: 0;
    }
  
    a {
      color: #000;
    }
  }
}

header {
  border-bottom: 2px solid #000;
  margin-bottom: 20px;
}

main #error_explanation,
#alert {
  margin: 0 0 20px;
  background: #000;
  color: #f0b406;
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px; 
  border-radius: 5px; 
  padding: 10px;
  box-sizing: border-box;
  font-size: 13px; 

  h2 {
    color: #f0b406;
    font-weight: bold;
  }

  * {
   -webkit-animation-duration:1s;
   -moz-animation-duration:1s;
   -ms-animation-duration:1s;
   -o-animation-duration:1s;
   animation-duration:1s;
   -webkit-animation-delay:1s;
   -moz-animation-delay:1s;
   -ms-animation-delay:1s;
   -o-animation-delay:1s;
   animation-delay:1s; 
  }
}

footer {
  margin-top: 20px;
  border-top: 2px solid #000;
}

input, select {
  display: block;
  max-width: 300px;
  width: 300px;
}

